<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the First Template</title>
    <link rel="stylesheet" href="{% static "css/emp.css"%}">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>

    <!-- Vuetify CSS -->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.css" rel="stylesheet">

    <!-- Vuetify JS -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.5/dist/vuetify.min.js"></script>
</head>
<body>

    <v-container class="mt-10">
        <h1 class="text-center mb-5">Employee List</h1>
        <div class="text-end mb-4">
            <v-btn
                color="primary"
                href="/employees/insert"
                variant="elevated"
            >
                Add New Employee
            </v-btn>
        </div>
        <v-table densiity="comfortable" hover class="elevation-3">
            <thead>
                <tr>
                    <th class="text-left">First Name</th>
                    <th class="text-left">Last Name</th>
                    <th class="text-left">Salary</th>
                    <th class="text-left">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employee %}
                <tr>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.email}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </v-table>
    </v-container>

</body>
</html>
<script>
  const { createApp } = Vue
  const { createVuetify } = Vuetify

  const vuetify = createVuetify()

  createApp({}).use(vuetify).mount("#app")
</script>